fastapi==0.111.0
uvicorn[standard]==0.23.2
jinja2==3.1.2
python-multipart>=0.0.7
numpy==1.24.3
aiohttp==3.9.3
opencv-python-headless==4.9.0.80
pillow==10.2.0
matplotlib==3.8.3
torch==2.1.1  # Cambiado a versión compatible con xformers
torchvision==0.16.1  # Versión compatible con torch 2.1.1
transformers==4.36.2
diffusers==0.26.3
accelerate==0.26.1
xformers==0.0.23  # Mantenido pero ahora compatible
